
@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" type="text" data-rule-validCustomer="true" required class="form-control typeahead" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" type="text" data-rule-atLeastOneMovie class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");

    <script>
        $(document).ready(function () {
            var vm = {
                movieIds: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '/api/customers'
            });

            customers.clearPrefetchCache();
            customers.initialize();

            $("#customer").typeahead({
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '/api/movies?available=true'                
            });

            movies.clearPrefetchCache();
            movies.initialize();

            $("#movie").typeahead({
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                $("#movie").typeahead("val", "");
                vm.movieIds.push(movie.id);
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            $.validator.addMethod("atLeastOneMovie", function () {
                return vm.movieIds.length > 0;
            }, "Please select at least 1 movie to rent.");

            $("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/rentals",
                        method: "post",
                        data: vm
                    })
                    .done(function () {
                        toastr.success("Rentals successful.");
                        $("#customer").typeahead("val", "");
                        $("#movie").typeahead("val", "");
                    })
                    .fail(function (jqXHR) {
                        toastr.error("Failed to complete rental!<br /><br />" + jqXHR.responseJSON.message);
                    });

                    return false;
                }
            });
        });
    </script>
}